@using ChatServer.Hubs
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">CHAT API для игры Cosmoground</h1>
    <h3>Групп создано @ChatHub._groups.Count</h3>
    <table class="table-condensed">
        <tr>
            <td>ID комнаты</td>
            <td>Игроки</td>
        </tr>
        @foreach (var group in ChatHub._groups)
        {
            <tr>
                <td>@group</td>
                <td><a href="~/Home/Buy/@group">Статистика</a></td>
            </tr>
        }
    </table>
</div>

<table class="table">
    <thead>
        <tr>
            <th><a asp-route-sortOrder="@ViewData["NameSortParm"]">Сообщения @ChatHub.AllMessages.Count</a></th>

        </tr>
    </thead>
    
    @foreach (var item in ChatHub.AllMessages)
        {
            <tr>
                <td>@item</td>
            </tr>
        }
   
</table>
