@page "/"
@inherits MyIndexModel

<PageTitle>Index</PageTitle>

<!--<SurveyPrompt Title="How is Blazor working for you?" />-->

<div class="text-center">
    <h1 class="display-4">CHAT API для игры Cosmoground</h1>
    
    <h4>статистика сервера</h4>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Сервер
            <span class="badge bg-primary rounded-pill">Онлайн</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
            Создано групп
            <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdropModalGroup" class="badge bg-primary  rounded-pill">@ChatHub._groups.Count</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
            Сообщений
            <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdropModalMessages" class="badge bg-primary rounded-pill">@ChatHub.AllMessages.Count</a>
        </li>

    </ul>
    
    <!-- Modal Messages-->
    <div class="modal fade" id="staticBackdropModalMessages" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Сообщения на сервере</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"><a>Сообщения @ChatHub.AllMessages.Count</a></th>
                        </tr>
                        </thead>
                        <!--<tbody>
                        <tr>
                            @foreach (var element in ChatHub.AllMessages.Select((e, i) => new { Effect = e, Index = i }))
                            {
                                <p><td scope="row" id="@($"effect{element.Index}")">@element.Effect </td></p>
                            }
                        </tr>
                        </tbody>-->
                    </table>


                    <div class="list-group">
                        @foreach (var element in ChatHub.AllMessages.Select((e, i) => new { Effect = e, Index = i }))
                        {
                            <a href="#" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" id="@($"effect{element.Index}")">@element.Effect</a>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <!--<button type="button" class="btn btn-primary">Принять</button>-->
                </div>
            </div>
        </div>
    </div>
    <!--  Modal Messages -->

    <!-- Modal Group-->
    <div class="modal fade" id="staticBackdropModalGroup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Сообщения на сервере</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table-condensed">
                        <tr>
                            <td>ID комнаты</td>
                            <td>Игроки</td>
                        </tr>
                        @foreach (var group in ChatHub._groups)
                        {
                            <tr>
                                <td>@group</td>
                                <td><a href="~/Home/Buy/@group">Статистика [НЕДОСТУПНО В ДАННОЙ ВЕРСИИ]</a></td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <!--<button type="button" class="btn btn-primary">Принять</button>-->
                </div>
            </div>
        </div>
    </div>
    <!--  Modal Group -->
    

</div>

<!--<button type="button" class="btn btn-primary" @onclick="((e) => { ClickBtn(e); })">AddMsg</button>-->
@code
{
    public void ClickBtn(MouseEventArgs e)
    {
        ChatHub.AddTestMessageView("Тестовое сообщение " + new Random().Next(9999999));
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
